:root
  --card-plate: rgba(255, 255, 255, 0.35)
  --card-text: rgba(0, 0, 0, 0.75)
  --content-width: 1200px

:global(.border-none)
  border: none !important

:global(.text-capitalize)
  text-transform: capitalize !important

:global(.text-center)
  text-align: center !important

:global(.rounded-3)
  border-radius: 3px !important

:global(.card)
  display: block
  height: 100%
  transition: 0.6s
  transition: all .3s ease-out 0s
  background-position: center center
  background-repeat: no-repeat no-repeat
  background-size: cover
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
  position: relative

:global(.fw-bold)
  font-weight: 700 !important

:global(.plate-parent)
  display: block
  height: 100%
  position: relative    
  background-position: center center
  background-repeat: no-repeat no-repeat
  background-size: cover

:global(.plate-text)
  width: 80%

  bottom: 10px
  left: 50%
  position: absolute
  transform: translate(-50%, 0)
  text-align: center

  color: var(--card-text)
  background-color: var(--card-plate)

:global(.noscroll)
  overflow: hidden !important
