@import "./breakpoints"
	
:global(table),
:global(thead),
:global(tbody)
	width: 100%

:global(tr)
	display: flex !important
	justify-content: space-evenly

:global(th),
:global(td)
	display: block !important
	padding: 10px !important